<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tropica | Stytch example</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Gloria+Hallelujah&display=swap"
    rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script src="/authenticateUtils.js"></script>
</head>
<body>
  <div class="app">
    <div class="nav">
      <div class="logo">
        <h1><a href="/">Tropica</a></h1>
        <span class="navItem sublogo">Hawaiian Pizza & Lemonade</span>
      </div>
      <div class="navMenu">
        <span class="navItem">About</span>
        <span class="navItem">Menu</span>
        <span class="navItem">Order</span>
      </div>
    </div>
    <div class="content">
      <div class="card">
        <div class="cardContent">
          <h1 class="contentHeader">The passcode is...pizza!</h1>
          <p class="instructions">Just kidding. Check your phone for the 6-digit passcode.</p>
          <form action="/authenticate" method="POST">
            <div class="actions">
              <p id="errorText">Invalid code. Please try again.</p>
              <div class="passcodeInputContainer">
                <!-- Hidden input to pass phoneId to req.body -->
                <input type="hidden" name="phoneId" value="<%= phoneId %>" />

                <input autofocus class="passcodeInput" type=text placeholder="0" size="1" maxlength="1"
                  name="digit-1" />
                <input class="passcodeInput" type=text placeholder="0" size="1" maxlength="1" name="digit-2" />
                <input class="passcodeInput" type=text placeholder="0" size="1" maxlength="1" name="digit-3" />
                <input class="passcodeInput" type=text placeholder="0" size="1" maxlength="1" name="digit-4" />
                <input class="passcodeInput" type=text placeholder="0" size="1" maxlength="1" name="digit-5" />
                <input class="passcodeInput" type=text placeholder="0" size="1" maxlength="1" name="digit-6" />
              </div>
              <input class="button" id="button" type="submit" value="LOG IN" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    const hasErrored = "<%= hasErrored %>"
    document.getElementById('button').disabled = true;
    const passcodeInputs = document.getElementsByClassName('passcodeInput');
    for (i = 0; i < passcodeInputs.length; i++) {
      passcodeInputs[i].addEventListener('keyup', onPasscodeDigitEnter);
      if (hasErrored === "true") {
        passcodeInputs[i].style.borderColor = '#AD2E30';
        document.getElementById('errorText').style.visability = 'visible';
      } else {
        passcodeInputs[i].style.borderColor = '#ADBCC5';
        document.getElementById('errorText').style.visibility = 'hidden';
      }
    }
  </script>
</body>
</html>
