<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello Socks | Stytch example</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Gloria+Hallelujah&display=swap"
    rel="stylesheet">
</head>
<body>
  <div class="app">
    <div class="nav">
      <div class="logo">
        <h1><a href="/">Tropica</a></h1>
        <span class="navItem sublogo">Hawaiian Pizza & Lemonade</span>
      </div>
      <div class="navMenu">
        <span class="navItem">About</span>
        <span class="navItem">Menu</span>
        <span class="navItem">Order</span>
      </div>
    </div>
    <div class="content">
      <div class="card">
        <div class="cardContent">
          <h1 class="contentHeader">Mahalo!</h1>
          <p class="instructions">We look forward to serving you next time.</p>
          <form action="/" method=GET>
            <div class="actions">
              <input class="button" id="button" type="submit" value="LOG OUT" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
